Francesco Filitti, [18.03.21 11:27]
<input type="text" placeholder="nickname" [(ngModel)]="nickname">
<button (click)="registrazione()">Registrazione</button>
<br>
<input type="text" placeholder="messaggio" [(ngModel)]="messaggio">
<button (click)="inviaTutti()">Invia a tutti</button>

<br>
<p>Contatti</p>

<table>
  <tr *ngFor="let c of contatti">
    <td>
      {{c.nickname}}
    </td>
    <td>
      {{c.sessione}}
    </td>

    <td>
      <button (click)="inviaUno(c)">invia</button>
    </td>
  </tr>

</table>
<br>
<p>Messaggi ricevuti</p>
<!--<button (click)="aggiornaLista()">Aggiorna</button>-->
<table>
  <tr *ngFor="let m of listaMessaggi">
    <td>
      {{m.testo}}
    </td>
    <td>
      {{m.aliasDestinatario}}
    </td>
    <td>
      {{m.aliasMittente}}
    </td>
  </tr>

</table>